// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body {
    height: 100%;
}

#map {
    height: 100%;
    width: 100%;
    img {
        max-width: none;
    }

}


.navbar.maps {
    margin-bottom: 2px;
}


.olControlAttribution {
    #id-logo {
        position: fixed;
        opacity: 1;
        right: 0px;
        margin-right: 30px;
        top: 20px;
    }
    .navbar.maps {
        position: fixed;
        opacity: 1;
        left: 0px;
        bottom: 0px;
        .container {
            width: 450px;
        }
    }
}