// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body {
    height: 100%;
}

#map {
    height: 100%;
    width: 100%;
    img {
        max-width: none;
    }

}


.navbar.maps {
    margin-bottom: 2px;
}

.leaflet-top.leaflet-right {
    .leaflet-control-attribution.leaflet-control {
        background-color: rgba(255,255,255,0);
        border: none;
        box-shadow: none;
    }
}

#id-logo {
    opacity: 1;
}