
@media (max-width: 900px) {
    .pagination .page.away-4 {
        display:none;
    }
}
@media (max-width: 825px) {
    .pagination .page.away-3 {
        display:none;
    }
}
@media (max-width: 750px) {
    .pagination .page.away-2 {
        display:none;
    }
}